* {
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    color: #bd5d48;
}

h4 {
    font-size: xx-large;
}

#jumbotron1 {
    background-color: white;
}

#footer {
    text-align: center;
}



@media (min-width: 576px) {
    .jumbotron {
      padding-bottom: 0;
  }
  }