* {
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-size: xx-large;
}

#jumbotron1 {
    background-color: white;
}

.card-img-top {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
}
.card-img-top:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
#footer {
    text-align: center;
}


